{{ "<!-- Hero -->" | safeHTML}}
<section id="header">
  <header class="major 1">
    <!-- <h1>{{ with .Site.Params.hero.title }} {{ . | markdownify }} {{ end }}</h1> -->
    <!-- <p>{{ with .Site.Params.hero.description }} {{ . | markdownify }} {{ end }}</p> -->
    <div><img src="images/logo.png" alt="logo"></div>
  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="#intro" class="button special scrolly">{{ with .Site.Params.hero.buttonText }} {{ . | markdownify }} {{ end }}</a></li>
    </ul>
  </div>
</section>
