{{ "<!-- Infos -->" | safeHTML }}
  <section id="infos" class="main special">
    <div class="container">
      <!--span class="image fit primary"><img src="images/{{ with .Site.Params.infos.picture }}{{ . }}{{ end }}" alt="" /></span-->
      <div class="content">
        <header class="major">
          <h2>{{ with .Site.Params.infos.title}}{{ . | markdownify }}{{ end }}</h2>
        </header>
        <p>{{ with .Site.Params.infos.description }}{{ . | markdownify }}{{ end }}</p>
        {{ with .Site.Params.infos.phone }}<p>{{ . }}</p>{{ end }}
        <div align="center" class="zl">
          <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/sylwia-cwiek-gorska/psycholog/gdansk" rel="nofollow" data-zlw-doctor="sylwia-cwiek-gorska" data-zlw-type="button_calendar_medium" data-zlw-opinion="false" data-zlw-hide-branding="true">Sylwia Ćwiek-Górska - ZnanyLekarz.pl</a>
          <script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//www.docplanner-platform.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
        </div>
        <br/>
        <p>{{ with .Site.Params.infos.facebook }}<a id="facebook" hover="facebook" href="{{ . }}"><i class="fa fa-facebook"></i></a>{{ end }}
        &nbsp;
        &nbsp;
        {{ with .Site.Params.infos.email }}<a id="email" hover="email" href="mailto:{{ . }}"><i class="fa fa-envelope"></i></a>{{ end }}</p>
      </div>
      <!-->
      <a href="#header" class="goto-next scrolly">{{ with .Site.Params.infos.buttonText }}{{ . | markdownify }}{{ end }}</a>
      -->
    </div>
  </section>
