{{ "<!-- Infos -->" | safeHTML }}
  <section id="infos" class="main special">
    <div class="container">
      <!--span class="image fit primary"><img src="images/{{ with .Site.Params.infos.picture }}{{ . }}{{ end }}" alt="" /></span-->
      <div class="content">
        <header class="major">
          <h2>{{ with .Site.Params.infos.title}}{{ . | markdownify }}{{ end }}</h2>
        </header>
        <p>{{ with .Site.Params.infos.description }}{{ . | markdownify }}{{ end }}</p>
        {{ with .Site.Params.infos.phone }}<p>{{ . }}</p>{{ end }}
        <p>{{ with .Site.Params.infos.facebook }}<a id="facebook" hover="facebook" href="{{ . }}"><i class="fa fa-facebook"></i></a>{{ end }}
        &nbsp;
        &nbsp;
        {{ with .Site.Params.infos.email }}<a id="email" hover="email" href="mailto:{{ . }}"><i class="fa fa-envelope"></i></a>{{ end }}</p>
      </div>
      <!-->
      <a href="#header" class="goto-next scrolly">{{ with .Site.Params.infos.buttonText }}{{ . | markdownify }}{{ end }}</a>
      -->
    </div>
  </section>
